In [1]:
## INTEGERS example
age=35
type(age)

int

In [2]:
## floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
##STRING datatype 
name="ANKUR"
print(name)
print(type(name))

ANKUR
<class 'str'>

In [6]:
##Boolean datatype
is_true=True
type(is_true)

bool

In [9]:
a=10
b=10
a==b

type(a==b)

bool

In [10]:
##Common errors

result="HEllo" +5

TypeError: can only concatenate str (not "int") to str

In [11]:
result="Hello" + str(5)
print(result)

Hello5