### LIST :
- Lists are ordered, mutable collections of items
- They can contain items of diff. data types

In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [2]:
names=["ankur", "rak","jod",1,2,3,4,5]
print(names)

['ankur', 'rak', 'jod', 1, 2, 3, 4, 5]

In [3]:
mixed_list=[1,"hello", 2.14, True]
print(mixed_list)

[1, 'hello', 2.14, True]

In [4]:
### Accessing list Elements

fruits=["apple", "banana", "cherry", "orange"]

In [8]:
print(fruits[0])
print(fruits[3])
print(fruits[-1])

apple
orange
orange

In [10]:
print(fruits[1:])
print(fruits[1:2])

['banana', 'cherry', 'orange']
['banana']

In [11]:
## Modifying the list elements
fruits

['apple', 'banana', 'cherry', 'orange']

In [17]:
fruits[1]="Watermelon"
print(fruits)

['apple', 'Watermelon', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange', 'orange']

In [18]:
## List Methods

fruits.append("orange")  ## add an item to the end
print(fruits)

['apple', 'Watermelon', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange', 'orange', 'orange']

In [20]:
fruits.insert(1, "joker")
print(fruits)

['apple', 'joker', 'banana', 'Watermelon', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange', 'orange', 'orange']

In [ ]:
fruits.remove("apple") ##removing 1st occurance of an item
print(fruits)

['joker', 'banana', 'Watermelon', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange', 'orange', 'orange']

In [ ]:
## remove and return the last element

pop_fruits=fruits.pop()
print(pop_fruits)
print(fruits)

orange
['joker', 'banana', 'Watermelon', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 'orange']

In [24]:
index=fruits.index("banana")
print(index)

1

In [25]:
fruits.insert(2, "banana")
print(fruits.count("banana"))

2

In [26]:
fruits

['joker',
 'banana',
 'banana',
 'Watermelon',
 'a',
 't',
 'e',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 'orange']

In [27]:
fruits.sort()  ## sort the list in ascending order

In [28]:
fruits

['Watermelon',
 'a',
 'banana',
 'banana',
 'e',
 'e',
 'joker',
 'l',
 'm',
 'n',
 'o',
 'orange',
 'r',
 't']

In [29]:
fruits.reverse()  ##reverse the list

In [30]:
fruits.clear()  ##remove all items from the list
print(fruits)

[]

#### SLICING LIST

In [6]:
number=[1,2,3,4,5,6,7,8,9,10]
print(number[2:5])
print(number[:5])
print(number[5:])
print(number[::2])
print(number[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
number[::2]

[1, 3, 5, 7, 9]

In [8]:
## ITERATING OVER LIST

for number in number:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [9]:
## Iterating with index

for index,number in enumerate(number):
    print(index, number)

TypeError: 'int' object is not iterable

In [10]:
## LIst Comprehension

lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
[ x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### LIST COMPREHENSION

Basics Syntax  [expression for item in iterable]


with conditional logic  [expression for item in iterable if condition]

Nested List Comprehension   [expression for item1 in iterable1 for item2 in iterable2]

In [13]:
### Basic list comprehension

square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
### List comprehension with condition

lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [15]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [16]:
## Nested list Comprehension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [18]:
## List Comprehension with Function Calls
words=["hello", "word"]
lengths=[len(word) for word in words]
print(lengths)

[5, 4]

#### Conclusion

List comprehension are a powerful and concise way to create lists in python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehension will help you write cleaner and more efficient python code.