#### LOOPS

In [2]:
## FOR LOOP
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [9]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [ ]:
## STRINGS - collections of chars

str = "Ankur"

for i in str:
    print(i)

A
n
k
u
r

In [11]:
## WHILE LOOP

## the while loop continues to execute as long as the condition is TRUE.

count = 0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [1]:
count=0

while count%2==0:
    print(count)
    count = count+1

0

In [2]:
## Loop control Statements:

## break
## the break statement exits the loop prematurely

## break statement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [3]:
## Continue
## Skips the current iteration and continues with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [5]:
## pass
## is NULL operation; it does nothing

for i in range(5):
    if i==3:
        print("the number is ",i)
        pass
    print(i)

0
1
2
the number is  3
3
4

In [6]:
## nested Loops
## a loop inside a Loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [7]:
## Examples: cal. the sum of first n natural nos. using a while and for loop

## while loop

n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("sum of first 10 natural nos. :", sum)

sum of first 10 natural nos. : 55

In [ ]:
## using for loop

n=10
sum=0

for i in range(11):
    sum = sum +i
print(sum)

55

In [12]:
## ex- Prime no between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97