### INTRODUCTION TO TUPLES:

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
numbers= tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
list((1,2,3,4,5,6))    ###list can be converted into tuple and vise-versa

[1, 2, 3, 4, 5, 6]

In [6]:
mixed_tuple=(1,"hello", 2.12, True)
print(mixed_tuple)

(1, 'hello', 2.12, True)

In [ ]:
### Accessing tuple elements

numbers

(1, 2, 3, 4, 5, 6)

In [8]:
print(numbers[2])
print(numbers[-1])

3
6

In [ ]:
numbers[0:4]   ##slicing

(1, 2, 3, 4)

In [10]:
## TUple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello', 2.12, True)

In [12]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [16]:
## Immutable Nature Of Tuples
##Tuples are immutable meaning their elements cannot be changed once assigned

lst=[1,2,3,4,5]
print(lst)

lst[1]="ANKUR"
print(lst)     ##therefore list are mutable

[1, 2, 3, 4, 5]
[1, 'ANKUR', 3, 4, 5]

In [17]:
numbers[1] = "ANKUR"   ##immutable

TypeError: 'tuple' object does not support item assignment

In [21]:
## Tuple Methods
print(numbers.count(1))   ##how many no. of times element(1) is present 
print(numbers.index(3))   ##at what index 3 is present in the tuplef

1
2

In [ ]:
## Packing and Unpacking tuple

## packing
packed_tuple=1,"raju", 2.41
print(packed_tuple)

(1, 'raju', 2.41)

In [23]:
## unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
raju
2.41

In [24]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first, *middle, last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:

## Nested List  (a LIST inside a LIST)
lst=[[1,2,3],[4,5,3,2],[1,"hello", 3,124],[657,2343,34]]
lst[0][2]

3

In [ ]:

lst=[[1,2,3],[4,5,3,2],[1,"hello", 3,124],(657,2343,34)]
lst[3]

34

In [32]:
## Nested Tuple

nested_tuples=[(1,2,3),(4,5,3,2),(1,"hello", 3,124),(True, False)]


##accessing elements inside the tuple
print(nested_tuples[0])

(1, 2, 3)

In [35]:
## iterating over nested tuples
for sub_tuple in nested_tuples:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
4 5 3 2
1 hello 3 124
True False

#### CONCLUSION:
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required.

They are commonly used in data structures, functions, arguments and return values, and as dictionary keys.